@import "tailwindcss";

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900; /* plage pour variable font */
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-noto-sans: "Noto Sans", sans-serif;
  --font-plus-jakarta-sans: "PlusJakarta Sans", sans-serif;
  --font-plus-jakarta-sans-italic: "Plus Jakarta Sans Italic", sans-serif;

  --color-primary: #a8bdf6;
  --color-dark: #100f0d;
  --color-light: #fffef9;
  --color-secondary: #e1e782;
  --color-tertiary: #ff4911;
  --color-valid: #e1e782;
  --color-danger: #fd6d4a;

  --animate-down-rotate: down-rotate 0.6s ease-out both;
  --animate-up-rotate: up-rotate 0.6s ease-out both;
  --animate-hide: hide 0.6s ease-out forwards;

  --animate-down-rotate-reverse: down-rotate-reverse 0.6s ease-out both;
  --animate-up-rotate-reverse: up-rotate-reverse 0.6s ease-out both;
  --animate-hide-reserve: hide-reverse 0.6s ease-out forwards;

  @keyframes up-rotate {
    0% {
      animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
      transform: translateY(0px);
    }
    30% {
      transform-origin: center;
      animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
      transform: translateY(-10px);
    }
    100% {
      transform-origin: center;
      transform: translateY(-10px) rotate(45deg) scale(0.9);
    }
  }

  @keyframes up-rotate-reverse {
    0% {
      transform-origin: center;
      transform: translateY(-10px) rotate(45deg) scale(0.9);
    }
    30% {
      transform-origin: center;
      animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
      transform: translateY(-10px);
    }
    100% {
      animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
      transform: translateY(0px);
    }
  }

  @keyframes down-rotate {
    0% {
      animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
      transform: translateY(0px);
    }
    30% {
      transform-origin: center;
      animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
      transform: translateY(10px);
    }
    100% {
      transform-origin: center;
      transform: translateY(10px) rotate(-45deg) scale(0.9);
    }
  }

  @keyframes down-rotate-reverse {
    0% {
      transform-origin: center;
      transform: translateY(10px) rotate(-45deg) scale(0.9);
    }
    30% {
      transform-origin: center;
      animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
      transform: translateY(10px);
    }
    100% {
      animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
      transform: translateY(0px);
    }
  }

  @keyframes hide {
    29% {
      opacity: 1;
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes hide-reverse {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    71% {
      opacity: 1;
    }
  }
}

@layer base {
  h1 {
    font-family: var(--font-plus-jakarta-sans);
    font-style: italic;
    font-weight: 700;
    font-size: var(--text-6xl);
    line-height: var(--text-6xl--line-height);
    color: var(--color-dark);
  }

  h2 {
    font-family: var(--font-plus-jakarta-sans);
    font-weight: 600;
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);
    color: var(--color-dark);
  }
}
