---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
const base =
  "relative z-1 flex justify-center items-center w-full h-full py-2 bg-light rounded-b-full rounded-t-full shadow-[2px_2px_0px_0px_#000000] hover:translate-y-[-4px] hover:translate-x-[4px] transition-transform";
---

<li class="relative w-full hover:translate-y-[-4px] p-0">
  <a href={href} class:list={[className, base, isActive ? "shadow-tertiary" : "shadow-dark"]} {...props}>
    <slot />
  </a>
</li>
