---
import HeaderLink from "./HeaderLink.astro";
---

<nav>
  <ul class="internal-links">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
  </ul>
</nav>
