---
import { SimpleAnalytics } from 'astro-simpleanalytics-plugin';
import '../styles/global.css';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { ClientRouter } from "astro:transitions";
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

const title = Astro.props.title ? `${Astro.props.title } | ${SITE_TITLE}` : SITE_TITLE;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={title} description={SITE_DESCRIPTION} />
        <ClientRouter />
    </head>
    <body class="flex justify-between flex-col bg-primary h-screen w-full">
        <Header />
        <main transition:animate="slide" class="flex-1 flex items-center justify-center w-full">
            <slot />
        </main>
        <Footer />
        <SimpleAnalytics />
    </body>
</html>